*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: lavender;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 16px 2%;

}

.navbar-left img{
 width: 50px;
 height: 50px;
}           

.navbar-center ul li{
    display: inline-block;
    align-items: center;
}

.navbar-center ul li a{
    text-decoration: none;
    margin-right: 1rem;
    font-size: 20px;
}
.navbar-right{
    display: flex;
    align-items: center;
}

.search-container{
    display: flex;
    align-items: center;
    width: 250px;
    padding: 8px;
    background-color: lavender;
    border-radius: 5px;
    margin-right: 9px;

}

.search-container input{
    width: 100%;
    outline: 0;
    border: 0;
    background-color: transparent;
}

.btn{
    background-color: blue;
    padding: .6rem;
    color: white;
    border-radius: .5rem;
    border: none;
}

.search-container{
    display: flex;
    align-items: center;
    width: 250px;
    padding: 8px;
    background-color: lavender;
    border-radius: 5px;
    margin-right: 9px;

}

.search-container input{
    width: 100%;
    outline: 0;
    border: 0;
    background-color: transparent;
}

#pickup-form {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    background-color: #fff;
}

.body-container{
    background-image: url(images/sam.jpg);
    height: 20rem;
    display: flex;
    color: white    ;
        
    }

    .card{
        background-color: #f29620;
        width: 15rem;
        height: 15rem;
        margin: 0 auto;
        margin-top: 12rem;
        margin-right: 4rem;
        margin-bottom: 5rem; /* Add margin to the bottom */
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-2{
        background-color:#257830;
        width: 15rem;
        height: 15rem;
        margin: 0 auto;
        margin-top: 12rem; /* Add margin to the top */
        margin-right: 5rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card h2{
        font-size: 1.2rem;
        padding: 7px;
        margin: 1rem 2rem 0.5rem 2rem;
        color: white;
    }

    .card p{
        font-size: 1rem;
        padding: 1.25rem;
        
    }

    .card-2 h2{
        font-size: 1.2rem;
        padding: 7px;
        margin: 1rem 2rem 0.5rem 2rem;
        color: white;
    }

    .card-2 p{
        font-size: 1rem;
        padding: 1.25rem;
        
    }

    .contuct{
        margin: 3rem 0 5rem 0;
    }

    .images img{
        padding:5px ;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 5px;
    }

    #contuct-paragraph{
        line-height: 32px;
    }
    #contact-paragragh{
        margin-left: 2em;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    #line {
        margin:5rem 0 5rem 0;
        width: 75%;
    }
    /* default list style css */
ul{
    margin: 0px;
    padding: 0px;
  	}

	ul li{
	list-style: none;
    }

/* main footer css */
#primary-footer{
	background-color: #edf7fa;
	}

	.footer-widget-area{
		padding: 50px 0;
	}

/* main footer inner css */

.footer-widget-area p{
		font-size: 20px;
	}

	.footer-widget-area li{
		margin-top: 10px;
	}

	.footer-widget-area li a{
		font-size: 20px;
		color: var(--black);
	}

	.footer-widget-area li a:hover{
	 text-decoration: none;
	 color: #00d07e;
	}

	.footer-widget-heading h4{
		font-weight: bold;
		font-size: 25px;
	}

/* .linkediting .fa{
    	color: #21bf73;
    }
 */

.footer-social-icon .social-title{
    	font-size: 20px;
    	font-weight: bold;
    	margin-bottom: 10px;
}

	.circle-icon {
    background: #ccf6c8;
    color: #21bf73;
    padding:12px;
    border-radius: 50%;
    margin-left: 5px;
    height: 40px;
    width: 40px;
    text-align: center;
}

/* footer credit css */

.copyright-area{
	background-color: #edf7fa;
	padding: 20px 0;
    }

    .copyright-text p{
    	font-size: 18px;
    }

    .copyright-text a{
    	color: #21bf73;
    	font-weight: 600;
    }

    .footer-menus li{
    	display: inline-flex;
    	margin-left: 20px;
    }

    .footer-menus li a {
 	 font-size: 18px;
 	 color: var(--black);
	}


/*media quries*/

	@media (max-width: 1199.98px) {

	}

	@media (max-width: 991.98px) {
       .footer-social-icon span{
     	font-size: 14px;
     }
	}

	@media (max-width: 767.98px) {
        .copyright-text p{
    	text-align:center;
     	}

     	.footer-menus ul{
    	 text-align:center;
    	}

    	.footer-social-icon span{
     	font-size: 18px;
     }
	}

	@media (max-width: 575.98px) {
		
		.footer-widget-area{
		padding: 0 20px;
		}

		.copyright-text p{
    	text-align:center;
    	font-size:16px;
     	}

     	.footer-menus ul{
    	 text-align:center;
    	}

    	.footer-menus ul li a{
    	 font-size:16px;
    	}
	}

